.armado-del-vuelo {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(2, 2fr);
    gap: 3em;
    justify-content: center;
    width: auto;
    max-width: 100%;
    margin: 1em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.75em;
    border-style: solid;
}

.asientos-cabina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 2em;
    gap: 1em;
}

.separacion-asientos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.secciones-cabina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

input {
    width: 2em;
    height: 2em;
    border-color: rgb(240, 167, 31);
    border-style: solid;
    border-radius: 0.50em;
    margin: 1em;
    cursor: pointer;
}

.etiqueta-asientos {
    border-radius: 0.25em;
    background-color: rgb(119, 126, 125);
    color: white;
    max-width: fit-content;
    padding: 1em;
    margin: 1em;
}

.asiento {
    border-style: solid;
    border-color: rgb(231, 185, 101);
    margin: 2em;
    padding: 2.50em;
    border-radius: 0.875em 0.875em 0 0;
}

.ubicacion-cabina {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.etiqueta-confirmar {
    border-radius: 0.25em;
    background-color: rgb(130, 185, 93);
    color: white;
    max-width: fit-content;
    padding: 1em;
    margin: 1em;
}

/* *********************************************************************
RESPONSIVE DESIGN
********************************************************************* */

@media (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {}