.etiqueta-vuelo {
    border-radius: 0.25em 0.25em 0 0;
    background-color: rgb(119, 126, 125);
    color: white;
    max-width: fit-content;
    padding: 0.25em;
}

.aceptar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 185, 93);
    border-radius: 0.25em;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5em 1em;
    text-decoration: none;
}



.reset {
    background-color: rgb(185, 111, 93);
    border-radius: 0.25em;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center
}

.buscar-cancelar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.75em;
}

.campos-form {
    border-radius: 0.25em;
    border: none;
    height: 2.5em;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    gap: 1em;
    padding: 1em 1em 1em 1em;
    background-color: rgb(124, 169, 163);
    border-radius: 0 0 0.25em 0.25em;
}

.section-vuelo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.inicio {
    text-decoration: none;
    color: white;
}

label {
    display: inline-flex;
    align-items: center;
}

.grilla-resultados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
    padding: 2em;
    margin: 2em;

}

.datos-de-vuelos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    height: 15em;
    margin: 2em;
    background-color: #ffffff;
    border-radius: 0.75em;
    opacity: 0.90;
    align-content: space-evenly;
    grid-auto-flow: row;
    justify-items: center;
}

.salida-llegada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.horario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
}

.precio-base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
    font-weight: bold;
}

.precio-amigo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
    font-weight: bold;
}

.tarifas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 198, 198);
    border-radius: 0.25em;
    padding: 0.5em;
}