* {
    margin: 0;
    color: rgba(white, white, white, white);
}


body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    color: white;
    background-color: #5b8787;
    padding: 0 2em 0 2em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #5b8787;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-image: url(../IMG/avion-despegando.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    background-color: rgb(185, 191, 190);
    color: rgb(94, 93, 93);
    padding: 2em;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    height: 3em;
}